@font-face {
    font-family: myBraille;
    src: url(../font/braille-dots.ttf);
}

@font-face {
    font-family: myBrailleNoDots;
    src: url(../font/braille-regular.ttf);
}

body {
    overflow-x: hidden;
}

.material-symbols-outlined {
    color: #8e8e8e;
}

.divider {
    border-style: none none solid none;
    border-width: 1px;
    border-color: #DADADA;
}

.expand {
    color: black;
    font-size: 32px;
}

.braille-dots {
    font-family: myBraille;
}

.braille-word {
    font-size: 8vw;
    letter-spacing: 10px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td:nth-child(2) {
    font-family: myBrailleNoDots;
}

@media screen and (max-width: 850px) {
    h1.braille-word {
        font-size: 70px;
    }
}

::-webkit-scrollbar {
    display: none;
}